@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

:root {
  --color-black: #0f0e0e;
  --color-white: #ffffff;
  --color-grey: #8f8e8a;
  --color-green: #a3c588;
  --color-beige: #f8f5f0;
  --color-red: #ff7f71;

  --font-family: "Inter", sans-serif;

  --fs-large: 48px;
  --fs-medium: 24px;
  --fs-body: 18px;
  --fs-small: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--color-beige);
  font-family: var(--font-family);
}
