.Project .kanban-layout {
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  gap: 1rem;
}

.kanban-layout span {
  font-weight: 700;
  color: var(--color-grey);
}
