.Layout {
  height: 100%;
  display: grid;
  grid-template-columns: 256px 1fr;
  grid-template-rows: 100%;
}

.Layout .SideBar {
  width: 256px;
  height: 100%;
}

.Layout .Main{
  height: 100%;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 100%;
}
