.Kanban button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  padding: 0.5rem 0.8rem;
}

.Kanban a {
  text-decoration: none;
}

.Kanban .kanban-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Kanban .kanban-body {
  height: calc(100% - 36px);
  overflow: hidden;
  overflow-y: auto;
}
