.Kanban {
  height: calc(100vh - 132px);
}

.Kanban button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  padding: 0.5rem 0.8rem;
}

.Kanban a {
  text-decoration: none;
}

.Kanban .kanban-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-bottom: 10px;
}

.taskForm {
  width: 100%;
  display: flex;
  gap: 5px;
  padding: 10px 0;
}

.taskForm .input-container {
  width: 80%;
}

.Kanban .kanban-body {
  height: calc(100% - 36px);
  overflow: hidden;
  overflow-y: auto;
}
