.AddMemberForm {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.AddMemberForm form {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: var(--fs-medium);
}
