.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: var(--fs-medium);
}

.Auth button {
  cursor: pointer;
  padding: 1rem;
  font-size: var(--fs-medium);
  border: none;
  border-radius: 8px;
  color: var(--color-white);
  background-color: var(--color-black);
}

.Auth button:hover {
  color: var(--color-black);
  background-color: var(--color-green);
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logoContainer img {
  width: 100px;
}

.error-p:empty, .success-input:empty{
  display: none;
}

.Auth .error-p {
  color: red;
  text-decoration: underline;
}
.Auth .error-input {
  border: 1px solid red;
}
.Auth .success-input {
  color: color(--color-green);
  text-decoration: underline;
}
