.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: var(--fs-medium);
}

.Auth .input-container {
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  justify-content: center;
}

.input-container label {
  font-size: var(--fs-small);
}

.input-container input {
  box-sizing: border-box;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  font-size: var(--fs-medium);
  background-color: var(--color-white);
}

.Auth button {
  cursor: pointer;
  padding: 1rem;
  font-size: var(--fs-medium);
  border: none;
  border-radius: 8px;
  color: var(--color-white);
  background-color: var(--color-black);
}

.Auth button:hover {
  color: var(--color-black);
  background-color: var(--color-green);
}

.logoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logoContainer img{
  width: 100px;
}


.Auth .error-p:empty{
  display: none;
}

.Auth .error-p {
  color: red;
  text-decoration: underline;
}
.Auth .error-input {
  border: 1px solid red;
}
.Auth .success-input {
  color: color(--color-green);
  text-decoration: underline;
}
